* {
	box-sizing: border-box;
}

$project_color: #aabbfb;

body {
  margin: 0;
  background: $project_color;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.nav-drop {
	display: none;
}

.dropbtn {
	background-color: #fbeaaa;
	color:  #000000;
	padding: 6.5px 20px 5.5px 20px;
	font-size: 1.8rem;
	border: 0.5px solid;
	margin: 1px 0 5px 5px;
	border-radius: 8px;

}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #aae4fb;
	width: 108px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	margin-top: -5px;
	margin-left: 5px;
	border-radius: 8px;

	a {
		color: #000000;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		border-bottom: 0.5px solid #000000;

		&:hover {
			background-color:  #c2aafb;
		}

		&:nth-child(4) {
			border: none;
		}
	}
}


.nav-drop:hover .dropdown-content {
	display: block
}

.nav-drop:hover .dropbtn {
	background-color: #c2aafb;
}

nav {
	display: flex;
	background-color: #fbeaaa;
	justify-content: space-between;
	height: 50px;
}

.nav-links {
	display: flex;
	margin-left: 10px;

	a{
		text-decoration: none;
		color: #000000;
		padding: 15px;
		font-size: 18px;
		font-family: Helvetica;
		padding-top: 16px;
		transition: transform .2s;	

		&:hover {
			transform: scale(1.2);
		}
	}
}


#cv {
	text-decoration: none;
	color: #000000;
	font-size: 1.1rem;
	font-family: Helvetica;
	height: 70%;
	border: 3px solid #000000;
	border-radius: 8px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 2px;
	padding-top: 6px;

	&:hover {
		color: $project_color;
		border: 3px solid $project_color;
	}
}

header {
	display: flex;
	height: 800px;
	background-image: url("coffee.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: "Josefin Sans";
	font-size: 4rem;
	color: #000000;
	margin-top: 50px;
}

p {
	font-family: "Montserrat";
}

h3 {
	font-family: "Montserrat";
	font-size: 2rem;
}

h5 {
	font-family: "Montserrat";
	font-size: 1.0rem;
}

.about-container {
	display: flex;
	justify-content: center;
	height: 600px;
}

.about-writing {
	display: flex;
	width: 50%;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	h3 {
		font-family: "Montserrat";
		font-size: 2rem;
		padding-bottom: 10px;
	}
}


.about-align {
	margin-right: 30px;
}

.about-writing p {
	padding: 10px;
}

.gallery { 
  	display: grid; 
	margin-top: 15px;
 	margin-bottom: 20px;
 	padding: 10px;
 	gap: 15px;
 	aspect-ratio: 1.2;
  	grid-template-columns: 1fr 1fr;
}

.gallery > img {
  	width: 33%;
 	height: 50%;
  	min-height: 100%;
  	min-width: 100%;
  	object-fit: cover;
  	cursor: pointer;
  	filter: grayscale(80%);
  	transition: .35s linear;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

.port-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	align-items: center;	
}

.port-head {
	text-align: center;
	background-color: #6181f8;
	width: 100%;

	h3 {
		margin-bottom: 50px;
		padding-top: 150px;
	}
}


.article-container {
	display: grid;
	grid-template-columns: repeat(3,auto);
	width: 80%;
	justify-content: center;
	grid-column-gap: 8%;
}

article {
	width: 30%;
	max-width: 350px;
	min-width: 350px;
	height: 450px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;
	align-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #edeef2;
	box-shadow: 0 5px 5px -5px #000500;
	border-radius: 5px;	

	img {
		width: 90%;
		height: auto;
		object-fit: cover;
		border: 0.5px solid #000000;
		margin-bottom: 20px;
		margin-top: 10px;
		filter: grayscale(50%);
		transition: transform 0.2s;

		&:hover {
			filter: grayscale(0%);
			transform: scale(1.05);
		}
	}
	p {
		margin: 0 5px 0 5px;
	}
}

.web-link {
	text-decoration: none;
	margin-top: 10px;
	font-size: 1.5rem;
}


.project-link {
	display: flex;

	a {
		text-decoration: none;
		border: 1px solid #000000;
		border-radius: 8px;
		padding: 5px;
		padding-top: 4px;
		padding-bottom: 4px;
		color: #000000;
		background-color: $project_color;
		margin-left: 30px;
		margin-right: 30px;
		transition: tansform .2s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #fbeaaa;
}

.contact-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 50px;
	margin-top: 12px;

	a {
		padding-left: 20px;
		padding-right: 20px;
	}
}

footer {
	display: flex;
	justify-content: center;
}

.foot-cont {
	width: 80%;
}

@media screen and (max-width:1500px){
	.article-container{
		grid-column-gap: 3%;
	}
}

@media screen and (max-width:1200px){
	.gallery img:nth-child(1){
		object-fit: contain;
	}

	.gallery img:nth-child(2) {
		object-fit: contain;
	}
}

@media screen and (max-width:1024px){
	.about-container{ 
		flex-direction: column;
		align-items: center;
		height: auto;
	}
	
 	.gallery {
		grid-template-columns: repeat(1,auto);
	}

	.gallery img:nth-child(4){
		// min-height: 80%;
		display: none;
	}
	
	.gallery img:nth-child(1){
		// min-height: 80%;
		display: none;
	}

	.gallery img:nth-child(2){
		min-height: 75%;
	}

	.gallery img:nth-child(3){
		min-height: 75%;
	}

	
	.about-writing {
		width: 80%;
	}
	
	.gallery {
		width: 75%;
		height: auto;
	}
	
	.article-container {
		grid-template-columns: repeat(2,auto);
	}
	
	article {
		margin-left: 0px;
	}
	
	.contact-text {
		display: none;
	}
	.contact-container {
		justify-content: center;
	}
	
	.contact-links {
		margin-right: 0px;
	}

	.contact-links a:nth-child(2) {
		padding-left: 15px;
		padding-right: 30px;
	}
}

@media screen and (max-width:768px){
	body {
		font-size: 18px;
	}
	
	.nav-drop {
		display: block;	
	}
	
	.nav-links {
		display: none;
	}

	#cv {
		display: none;
	}
	
	nav {
		justify-content: flex-start;
	}
	
	.gallery {
		grid-template-columns: repeat(1,auto);
		width: 80%;
	}
	
	.gallery img:nth-child(1) {		
		display: none;
	}
	
	.gallery img:nth-child(2) {
		height: 200px;
	}	
	
	.gallery img:nth-child(3) {
		height: 200px;
	}	
	
	.gallery img:nth-child(4) {		
		display: none;
	}
	
	.about-writing {
		width: 80%;
	}
	
	.about-align {
		margin-right: 0;
	}
	
	.article-container {
		grid-template-columns: repeat(1,auto);
	}
	
	article {
		width: 90%;
		margin: 15px;
	}
	
	article:nth-child(1) {
		margin-left: 20;
	}
	
	.port-head p {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.contact-container {
		flex-direction: column;
		align-items: center;
	}
	
	.contact-links {
		margin-right: 0px;
		margin-top: 0px;
	}
}
