* {
	box-sizing: border-box;
}


body {
  margin: 0;
  background: #aabbfb;
  font-family: "Source Sans Pro";
  font-size: 16px;
}

.nav-drop {
	display: none;
}

.dropbtn {
	background-color: #aae4fb;
	color:  black;
	padding: 6.5px;
	font-size: 1.8rem;
	border: 0.5px solid;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 8px;
	margin-bottom: 5px;
	border-radius: 8px;
	margin-left: 5px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #aae4fb;
	width: 165px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	margin-top: -5px;
	margin-left: 5px;
	border-radius: 8px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color:  #c2aafb
}

.nav-drop:hover .dropdown-content {
	display: block
}

.nav-drop:hover .dropbtn {
	background-color: #c2aafb;
}

.nav-container {
	display: flex;
	background-color: #aabbfb;
	justify-content: space-between;
	height: 50px;
	text-align: center;
	width: 100%;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-left: 10px;
}

.nav-links a {
	text-decoration: none;
	color: black;
	padding: 15px;
	font-size: 18px;
	font-family: Helvetica;
	padding-top: 16px;
	transition: transform .2s;
	
}

.nav-links a:hover {
	transform: scale(1.2);
}

.nav-cv {
	border: 3px solid black;
	border-radius: 8px;
	margin-right: 10px;
	width: 130px;
	height: 40px;
	padding-top: 10px;
	margin-top: 5px;
}

.nav-cv a {
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
	font-family: Helvetica;
	margin-top: 10px;
	transition: transform .2s;
}

.nav-cv a:hover {
	transform: scale(1.2);
}

.nav-cv a:hover {
	color: #6181f8;
}

.about-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	height: 600px;
	background-image: url("energy.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.about-writing {
	display: flex;
	width: 50%;
	background-color: blue;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.gallery {
  
  display: grid;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  gap: 15px;
  width: auto;
  aspect-ratio: 1.2;
  grid-template-columns: repeat(2,auto);
}

.gallery > img {
  width: 33%;
  height: 50%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: .35s linear;
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}

.port-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 20px;
	
}

.article-container {
	display: flex;
	justify-content: center;
}

article {
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;
	align-content: center;
	align-items: center;
	
}

article:nth-child(1) {
	margin-left: 20px;
}


article img {
	width: 50%;
	height: auto;
}

.port-head {
	display: flex;
	justify-content: center;
}

.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact-text {
	margin-left: 50px;
}

.contact-links {
	margin-right: 50px;
}

.contact-links a {
	text-decoration: none;
	padding: 15px;
}

@media screen and (max-width:1024px){
	.about-container{ 
		flex-direction: column;
		align-items: center;
		height: 800px;
	}
	
	.gallery {
		width: 75%;
	}
}

@media screen and (max-width:768px){
	.nav-drop {
		display: block;	
	}
	
	
	
	.nav-links {
		display: none;
	}

	.nav-cv {
		display: none;
	}
	
	.nav-container {
		justify-content: flex-start;
	}
	
	.gallery {
		display: none;
	}
	
	.about-writing {
		width: 75%;
	}
	
	.article-container {
		flex-wrap: wrap;
	}
	
	article {
		width: 90%;
		margin-bottom: 15px;
	}
	
	article:nth-child(1) {
		margin-left: 0;
	}
	
}
